doctype html

html.h-100
  title= settings.title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='bootstrap.min.css')

  body.h-100
    .container.d-flex.h-100: .justify-content-center.align-self-center.text-center.mx-auto

      h1.mb-4!= settings.title

      if req.query.thankyou != null
        .alert.alert-success.mb-4: h4.m-0 Thank you for your donation!

      form(method='post')
        input(type='hidden', name='_csrf', value=req.csrfToken())
        .input-group.justify-content-center
          input.form-control.form-control-lg(name='amount', type='number', placeholder='Tip amount', step='0.00000000001',
                                             style='width:10em', autofocus, autocomplete='off', required)
          .input-group-append
            select.form-control.form-control-lg(name='currency')
              for currency in [ 'BTC', 'USD', 'EUR', 'GBP', 'CNY', 'JPY', 'ILS' ]
                option= currency

        textarea.form-control.border-top-0(name='info[notes]', rows=3, placeholder='Anything to add? (optional)')

        //- you can add additional `info[...]` fields, they will automatically be saved with the invoice.

        button.btn.btn-lg.btn-primary.mt-4(type='submit') Send tip

    .fixed-bottom.text-right.pb-2.pr-2.text-info powered by #[a(href='https://github.com/ElementsProject/nanotip') nanotip]
